@charset "UTF-8";

/**
{{{ img.sitecss1 }}}
## Site stylesheet
This is the main style of the site. Some of the styles are
set to work with the theme layouts.<br /><br /><br /><br />
**/
/* Font Styles */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,300);

html {
    width: 100%;/* {{image img.littleredbacteria '200px' '75px'}} */
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    max-width: none;
    overflow-y: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 4px 0 0 0;
    max-width: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/** ### Fixed area for menu **/
#FixedMenu {
    position: fixed;
    background: transparent;
    margin: 4px 0 0 0;
}

#FixedSideBar {
    position: fixed;
    left: 700px; /* will be automatically adjusted */
    right: 16px;
    margin: 0 0 0 0px;
    padding: 0 0 0 4px;
    /*border-left: 1px solid #034F89;*/
}

#sidebar-contents {
    margin: 16px 0 0 0;
}

/** ### Fixed area for logo **/
#FixedLogo {
    position: fixed;
    left: 40px;
    top: 0;
    background: transparent;
    display: inline-block;
    margin: 0 0 0 0;
}

#FixedLogo img {
    width: 55%;
    height: auto;
}

/** ### Header, Page, Content, and Footer **/

#AbsoluteHeader {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    border-style: solid;
    border-width: 0 0 1px 0;
}

#PageFrame {
    overflow: auto;
    flex: 1;
}

#contents {
    margin: 0 182px 0 182px;
}

#AbsoluteFooter {
    bottom: 0;
    width: 100%;
    height: 30px; /* Height of the footer */
    border-style: solid;
    border-width: 1px 0 0 0;
    padding: 4px 0 0 0;
}

#AbsoluteFooter img {
    width: 24px;
    height: auto;
    vertical-align: middle;
}

/** ### Header content **/
#headerleft {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 14px;
}

#headerleft > #socketio-change {
    float: left;
}

#headerleft > #socketio-change > img {
    width: 40%;
}

#headertitle {
    font-size: 28px;
    padding-top: 4px;
}

#headersubtitle {
    font-weight: normal;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 6px;
}

#headersubtitle img {
    padding: 0 0 0 14px;
    width: 20px;
    float: left;
}

#headerright {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 14px;
    line-height: 1em;
}

#headerright > #theme-change {
    float: right;
    padding-right: 8px;
}

#headerright > #hilight-change {
    float: right;
    padding-right: 8px;
}

#headerright > #rsrc-change {
    margin-right: 1em;
    padding: 1.5em 0 0 8px;
}

#toggle-menu {
    width: 59%;
    cursor: pointer;
}

#top-menu {
    position: relative;
    margin-left: 130px;
    float: left;
    opacity: 0;
    font-family: 'Open Sans', sans-serif;
}

#top-menu a {
    float: left;
}

#top-menu button {
    float: left;
    display: block;
    border: 1px solid #034F89;
    padding: 6px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: bold;
}

/** #### Images **/
.pic-codeblock {
    position: relative;
    float:left;
    left:200px;
    width:100px;
}

code div img {
    position: absolute;
}

.pics-left {
    width: 128px;
    margin-right: 16px;
    float: left;
}

.pics-right {
    width: 128px;
    margin-left: 16px;
    float: right;
}

div.pics-paper-clip {
    margin-left: 22px;
    height: 4px;
}

div.pics-paper-clip img {
    position: relative;
    z-index: 10;
    width: 50px;
}

/** #### Give a little space at end of code highlight box **/
pre {
    margin-left: 1em;
    margin-right: 1em;
}

button {
    background: inherit;
    color: inherit;
    font-size: 10pt;
    padding: 4px 6px;
    border-radius: 3px;
    border: 1px solid inherit;
}

/** #### Style of code block line numbers **/
.hljs-line-numbers {
    text-align: right;
    border-right: 1px solid #ccc;
    color: #999;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.markdown-comment {
    display: none;
}

